.pageContainer
    background-color: black
    height: 100vh
    .addWrapper
        display: flex
        justify-content: center
        align-items: flex-end
    .pageWrapper
        display: grid
        grid-template-columns: auto auto auto
        justify-content: center
        .pageItemWrapper
            .imgWrapper
                position: relative
                img
                    width: 300px
                    margin: 10px
                    filter: grayscale(100%)
                    &:hover
                        filter: none
                .pageName
                    position: absolute
                    top: 30px
                    left: 50%
                    transform: translateX(-50%)
                    