@function cmyk($c, $m, $y, $k) 
    $c: $c / 100
    $m: $m / 100
    $y: $y / 100
    $k: $k / 100
    $r: 255 * (1 - $c) * (1 - $k)
    $g: 255 * (1 - $m) * (1 - $k)
    $b: 255 * (1 - $y) * (1 - $k)
    @return rgb($r, $g, $b)

.pageContainer
    // background-color: #8d8d8d
    background-color: #292929
    // background-color: #9D4D98
    height: calc( 100vh -  64px)
    .addWrapper
        display: flex
        justify-content: center
        align-items: flex-end
        padding-top: 30px
        // width: 500px
        // background-color: red

        button
            margin-left: 20px
    .pageWrapper
        margin-top: 30px
        display: grid
        grid-template-columns: auto auto auto
        justify-content: center
        .pageItemWrapper
            .imgWrapper
                position: relative
                img
                    width: 300px
                    margin: 10px
                    filter: grayscale(100%)
                    &:hover
                        filter: none
                .pageName
                    position: absolute
                    top: 30px
                    left: 50%
                    transform: translateX(-50%)
                .closeBtnWrapper
                    position: absolute
                    margin: 12px
                    top: 0
                    right: 0
                    cursor: pointer
                    color: #36363694
                    &:hover
                        opacity: 70%




                    